.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}