.btn-outlined {
  width: 100px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
  color: #FF4820;
  background: transparent;
  border: 2px solid #FF4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-outlined:hover {
  background-color: rgba(255, 199, 32, 0.2);
}