.page__hero {
  display: flex;
}

.page__hero-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.page__hero-content h1 {
  font-family: var(--font-family);
  font-weight: 800;

  font-size: 62px;
  line-height: 75px;
}

.page__hero-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.page__hero-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 2rem;
}

.page__hero-content__people p {
  margin: 0 0 0 0.5rem;
  font-family: var(--font-family);
  font-style: bold;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
}

.page__hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__hero-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .page__hero {
      flex-direction: column;
  }

  .page__hero-content {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .page__hero h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .page__hero p {
      font-size: 16px;
      line-height: 24px;
  }

  .page__hero-content__people {
      flex-direction: column;
  }

  .page__hero-content__people p {
      margin: 0;
  }
}

@media screen and (max-width: 490px) {
  .page__hero h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .page__hero p {
      font-size: 14px;
      line-height: 24px;
  }
}